<%- include("../partials/header") %>
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome To PublicGameReviews!</h1>
            <p>View reviewed games from the community</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/games/new">Add New Game</a>
            </p>
        </div>
    </header>

    <div class="row text-center" id="game">
        <% games.forEach(function(game){ %>
        <div class="col-md-3 col-sm-6">
            <figure class="figure">
                <img src="<%= game.image %>" class="figure-img img-fluid rounded">
                <figcaption class="figure-caption">
                    <h4><%= game.name %></h4>
                </figcaption>
            </figure>
            <a href="/games/<%= game._id %>" class="btn btn-primary">More Info</a>
        </div>
        <% }); %>
    </div>
</div>

<%- include("../partials/footer") %>